* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding: 15px 0;
}

ul {
    list-style: none;
    padding-left: 20px;
}

ul > li {
    padding: 10px 0;
}

li a {
    text-decoration: none;
    font-weight: 700;
}